<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>curriculo</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
<section>    
    <img src="imagem/R.jpg">
    <h1>Tom Cruise</h1>
    <h4>Telefone: (81) 994534537</h4>
    <h4>E-mail: tomcruisemissaoimpossivel@gmail.com</h4>
</section>
<section>
   <h1>Objetivo:</h1>
   <ul>
      <li>Conhecimento especializado na área de missão impossível aonde nao tem limites, com grande comando de liderança em equipe. </li>
   </ul>
   <h1>Formação:</h1>
   <ul>
       <li>IMF 1996/2022</li>
       <li>Especialista em armas 1996/2023</li>
       <li>Espião 2005/2020</li>
     <h1>Experiência:</h1>
       <li>Missão impossível</li>
       <li>combatendo terroristas</li>
       <li>inteligência secreta</li>
       <li>atuando nas áreas de tecnologias</li>
    </ul>
</section>
  </div>
</body>
</html>

